$redes:(
     twitter: #6bb0c5,
     facebook: #4b6baf,
     instagram: #e2b1e4,
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color ;
    } 
};

.redSocial{
    border: 1px solid red;
    background-color: rgb(240, 121, 52);
}

.redsocial--social{
    @extend.redSocial;
    border-radius: 10px;
}

.redsocial--nueva{
    @extend.redSocial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.redsocial--mark{
    @extend.redSocial;
    border: 3px dashed rgb(255, 42, 42);

}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;    
}
.my_mixin {
    @include sizes (500px, 50px);
    background-color: #c54949;
}