@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
* {
  padding: 0;
  margin: 0;
}

.galeria {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: galeria;
}

body {
  background-image: url(../img/fondo.jpeg);
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  padding: 5px;
}

header nav {
  width: 0%;
  margin: 0 auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

article, aside, .ad {
  border: 2px solid black;
}

img {
  border: 5px solid white;
  margin-top: 15px;
}

.palacio {
  width: 300px;
  height: 300px;
}

footer {
  text-align: center;
  padding: 1cm;
  background-color: #e95050;
  margin-bottom: 0;
  margin-top: auto;
}

.main-head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contenido;
}

.main-nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.side {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.ad {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ad;
}

.galeria-grid {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: galeria;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
}

.padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 1500px;
  gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "header" "nav" "contenido" "sidebar" "ad" "galeria" "footer";
}

@media (min-width: 560px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 800px;
    gap: 15px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    justify-items: center;
  }
  .wrapper {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header  header" "nav     nav" "sidebar contenido" "ad      ad" "galeria galeria" "footer     footer";
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid black;
    border: 2cm;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "nav contenido sidebar" "nav contenido ad" "galeria galeria galeria" "footer footer  footer";
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
  }
}

@media (min-width: 920px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center;
  }
  .wrapper {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "nav contenido sidebar" "nav contenido ad" "galeria galeria galeria"  "footer footer footer";
  }
  a:link {
    color: white;
  }
  a:visited {
    color: #db6161;
  }
  a:hover {
    background-color: white;
  }
  a:active {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */