@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
*{
    padding: 0;
    margin: 0;
}


  

.grilla{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto  ;
    grid-template-areas: 
    "header header header header"
    "galeria galeria galeria galeria"
    "footer footer footer footer"
    ;
    align-items: start;
}




.galeria{
    grid-area: galeria;

}









body{
    background-image: url(../img/fondo.jpeg);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header{
    font-size: large;
    display: grid;
    justify-content: center;
  
  }
  
  nav ul li{
    list-style: none;
    text-transform: uppercase;
  }
  
  a{
    text-decoration: none;
  }
  
  article, aside, .ad{
    border: 2px solid rgb(0, 0, 0);
  }
  
  img{
    border: 5px solid white;
    margin-top: 15px;
  }
  
  
  footer{
    text-align: center;
    padding: 1cm;
    background-color: rgb(233, 80, 80);
    margin-bottom: 0;
    margin-top:auto;
  }
  
  .main-head{
    grid-area: header;
  }
  .content{
    grid-area: contenido;
  }
  .main-nav{
    grid-area: nav;
  }
   .side{
     grid-area: sidebar;
   }
   .ad{
     grid-area: ad;
   }
   .galeria-grid{
     grid-area: galeria;
   }
  
   .footer{
     grid-area: footer;
   }
  
   .padre{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     height: 1500px;
     gap: 15px;
     align-items: end;
     justify-items: center;
  }
  
  .wrapper{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "sidebar"
    "ad"
    "galeria"
    "footer";
  }
  
 
  